.sub-page {
  width: 100%;
  height: auto;
}
.sub-page .container {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
}
.sub-page .container .banner {
  width: 100%;
}
.sub-page .container .banner a {
  display: block;
  width: 100%;
}
.sub-page .container .banner a img {
  width: 100%;
}
.sub-page .container .title {
  padding-top: 50px;
  width: 100%;
}
.sub-page .container .title h1 {
  width: 100%;
  text-align: center;
  font-size: 28px;
  font-weight: 500;
}
.sub-page .container .filter-menu-box {
  width: 100%;
  padding: 30px 40px;
  border: 1px solid rgb(226, 226, 226);
  margin-top: 28px;
}
.sub-page .container .filter-menu-box ul {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
.sub-page .container .filter-menu-box ul li {
  width: 25%;
  margin: 11px 0;
}
.sub-page .container .filter-menu-box ul li a {
  color: rgb(51, 51, 51);
  font-weight: 500;
}
.sub-page .container .filter-menu-box ul li a.on {
  color: rgb(95, 0, 128);
  font-weight: 700;
}
.sub-page .container .filter-menu-box ul li a:hover {
  color: rgb(95, 0, 128);
  font-weight: 700;
}
.sub-page .container .content {
  margin-top: 50px;
  width: 100%;
  display: flex;
}
.sub-page .container .content .filter-box {
  width: 267px;
  padding-right: 47px;
  height: 100vh;
  position: sticky;
  top: 90px;
}
.sub-page .container .content .filter-box .header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(238, 238, 238);
}
.sub-page .container .content .filter-box .header span {
  font-size: 15px;
  font-weight: 600;
}
.sub-page .container .content .filter-box .header button {
  background: none;
  border: 0;
}
.sub-page .container .content .filter-box .header button svg {
  margin-right: 5px;
}
.sub-page .container .content .filter-box .header button strong {
  color: rgb(221, 221, 221);
  font-size: 14px;
  font-weight: 600;
}
.sub-page .container .content .filter-box .filter-list {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  padding-bottom: 200px;
}
.sub-page .container .content .filter-box .filter-list::-webkit-scrollbar {
  width: 0;
}
.sub-page .container .content .filter-box .filter-list::-webkit-scrollbar-track {
  background: #fff;
}
.sub-page .container .content .filter-box .filter-list::-webkit-scrollbar-thumb {
  background: #ddd;
}
.sub-page .container .content .filter-box .filter-list > ul {
  width: 100%;
}
.sub-page .container .content .filter-box .filter-list > ul > li {
  width: 100%;
  border-bottom: 1px solid rgb(238, 238, 238);
}
.sub-page .container .content .filter-box .filter-list > ul > li > a {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  background: url(../../../../../public/images/sub/sub1/arrow.svg) no-repeat 100% 50%;
}
.sub-page .container .content .filter-box .filter-list > ul > li .sub {
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: height 0.6s ease-in-out;
}
.sub-page .container .content .filter-box .filter-list > ul > li .sub ul {
  width: 100%;
}
.sub-page .container .content .filter-box .filter-list > ul > li .sub ul li {
  width: 100%;
  margin: 9px 0 18px 0;
}
.sub-page .container .content .filter-box .filter-list > ul > li .sub ul li label {
  cursor: pointer;
}
.sub-page .container .content .filter-box .filter-list > ul > li .sub ul li label:hover {
  color: rgb(141, 76, 196);
}
.sub-page .container .content .filter-box .filter-list > ul > li .sub ul li label input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 18px;
  height: 18px;
  background: url(../../../../../public/images/sub/sub1/chk_off.svg) no-repeat 0 50%;
  margin-right: 8px;
  cursor: pointer;
}
.sub-page .container .content .filter-box .filter-list > ul > li .sub ul li label input[type=checkbox]:checked {
  background-image: url(../../../../../public/images/sub/sub1/chk_on.svg);
}
.sub-page .container .content .product-box {
  width: 783px;
}
.sub-page .container .content .product-box .header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.sub-page .container .content .product-box .header span {
  color: #222;
  font-weight: 600;
}
.sub-page .container .content .product-box .header span a {
  margin-left: 15px;
  font-weight: 400;
}
.sub-page .container .content .product-box .header span a.on {
  color: #222;
  font-weight: 600;
}
.sub-page .container .content .product-box .product-filter-box {
  width: 100%;
  padding-bottom: 25px;
}
.sub-page .container .content .product-box .product-filter-box ul {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  border: 1px solid #ddd;
}
.sub-page .container .content .product-box .product-filter-box ul li {
  margin-right: 18px;
  line-height: 220%;
}
.sub-page .container .content .product-box .product-filter-box ul li span {
  font-size: 14px;
  color: rgb(141, 76, 196);
  letter-spacing: -1.5px;
}
.sub-page .container .content .product-box .product-filter-box ul li button {
  border: 0;
  background: transparent;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.2);
  margin-left: 6px;
  cursor: pointer;
}
.sub-page .container .content .product-box .product-list {
  width: calc(100% + 18px);
}
.sub-page .container .content .product-box .product-list ul {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
.sub-page .container .content .product-box .product-list ul li {
  width: 33.333%;
}
.sub-page .container .content .product-box .product-list ul li a {
  width: auto;
  display: block;
  margin-right: 18px;
}
.sub-page .container .content .product-box .product-list ul li a .box {
  width: 100%;
  overflow: hidden;
}
.sub-page .container .content .product-box .product-list ul li a .box.row1-box {
  position: relative;
  border-radius: 4px;
}
.sub-page .container .content .product-box .product-list ul li a .box.row1-box span {
  z-index: 1;
  position: relative;
  display: block;
  width: 100%;
}
.sub-page .container .content .product-box .product-list ul li a .box.row1-box span img {
  width: 100%;
  transition: all 0.6s;
}
.sub-page .container .content .product-box .product-list ul li a .box.row1-box:hover span img {
  transform: scale(1.08);
}
.sub-page .container .content .product-box .product-list ul li a .box.row1-box:hover em img {
  transform: scale(1.08);
}
.sub-page .container .content .product-box .product-list ul li a .box.row2-box {
  padding-top: 6px;
}
.sub-page .container .content .product-box .product-list ul li a .box.row2-box ul {
  width: 100%;
}
.sub-page .container .content .product-box .product-list ul li a .box.row2-box ul li {
  width: 100%;
  line-height: 180%;
}
.sub-page .container .content .product-box .product-list ul li a .box.row2-box ul li:nth-child(1) button {
  width: 100%;
  height: 35px;
  border-radius: 4px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(221, 221, 221);
  cursor: pointer;
}
.sub-page .container .content .product-box .product-list ul li a .box.row2-box ul li:nth-child(1) button svg {
  width: 22px;
  margin-right: 3px;
}
.sub-page .container .content .product-box .product-list ul li a .box.row2-box ul li:nth-child(1) button em {
  font-size: 16px;
}
.sub-page .container .content .product-box .product-list ul li a .box.row2-box ul li:nth-child(2) {
  padding-top: 8px;
}
.sub-page .container .content .product-box .product-list ul li a .box.row2-box ul li:nth-child(2) h3 {
  font-size: 16px;
  font-weight: 500;
}
.sub-page .container .content .product-box .product-list ul li a .box.row2-box ul li:nth-child(3) {
  padding-top: 10px;
}
.sub-page .container .content .product-box .product-list ul li a .box.row2-box ul li:nth-child(3) span {
  color: #999;
  font-size: 14px;
  text-decoration: line-through;
}
.sub-page .container .content .product-box .product-list ul li a .box.row2-box ul li:nth-child(4) strong {
  font-size: 16px;
  font-weight: 600;
}
.sub-page .container .content .product-box .product-list ul li a .box.row2-box ul li:nth-child(4) strong:nth-child(1) {
  color: rgb(250, 98, 47);
  margin-right: 5px;
}
.sub-page .container .content .product-box .product-list ul li a .box.row2-box ul li:nth-child(4) strong:nth-child(2) {
  color: rgb(34, 34, 34);
}
.sub-page .container .content .product-box .product-list ul li a .box.row2-box ul li:nth-child(5) {
  padding-top: 8px;
}
.sub-page .container .content .product-box .product-list ul li a .box.row2-box ul li:nth-child(5) em {
  color: rgb(168, 177, 188);
}
.sub-page .container .content .product-box .product-list ul li a .box.row2-box ul li:nth-child(5) em svg {
  width: 15px;
  margin-right: 5px;
}
.sub-page .container .content .product-box .pagenation {
  padding: 70px 0 150px 0;
  display: flex;
  justify-content: center;
}
.sub-page .container .content .product-box .pagenation span {
  display: flex;
}
.sub-page .container .content .product-box .pagenation span a {
  width: 32px;
  height: 32px;
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-page .container .content .product-box .pagenation span a:hover {
  background: #eee;
}
.sub-page .container .content .product-box .pagenation span a.on {
  background: #eee;
  color: rgb(95, 0, 128);
}
.sub-page .container .content .product-box .pagenation span a img {
  width: auto;
}